* {margin: 0; padding: 0;}
body {color: #333; font: 12px/1.5 '微软雅黑';}
a {text-decoration: none;}
ul {list-style: none;}
/**reset end**/

.tree {margin: 50px;}
.tree li {
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	padding: 0 0 0 18px;
}

.tree-hide > i, .tree-show > i {
	background-color: #fff;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 18px;
	vertical-align: bottom;
	width:18px;
}

.tree-hide > i {
	background-image: url(../img/plus.gif);
}

.tree-show > i {
	background-image: url(../img/minus.gif);
}

.tree-hide a:before, .tree-show a:before {
	content: '.';
	display: inline-block;
	font-size: 0;
	height: 18px;
	margin-right: 3px;
	vertical-align: bottom;
	width:18px;
}

.tree-hide a:before {
	background: url(../img/folder.gif) no-repeat;
}

.tree-show a:before {
	background: url(../img/folderopen.gif) no-repeat;
}

.tree-list li:last-of-type > .tree-hide > i {
	background: url(../img/plusbottom.gif) no-repeat;
}

.tree-list li:last-of-type > .tree-show > i {
	background: url(../img/minusbottom.gif) no-repeat;
}

.tree li {
	background: url(../img/line.gif) repeat-y 18px 0;
}

.tree li:last-of-type {
	background: none;
}

.tree > li:first-child > .tree-hide i {
	background-image: url(../img/plustop.gif);
}

.tree > li:first-child > .tree-show i {
	background-image: url(../img/minustop.gif);
}