/**布局样式**/
body {background:#f8f8fa;}
hr {border:2px dashed #ccc;margin: 50px 0 70px;}
.wrap {margin:0 auto; padding:1% 0; width:98%;}
.w-title {background:#fff; border:1px solid #eee; font-size:1.8em; height:65px; line-height:65px; margin-bottom:1%; overflow:hidden; padding:0 5%; text-align:center; text-overflow:ellipsis; white-space:nowrap;}
.w-title span {overflow: hidden; }
.w-body {background:#fff; border:1px solid #eee; padding:5% 5% 10%;}
.w-cont p {padding-bottom:20px;}

/**代码高亮样式**/
.pre-code-border {border:1px solid #ddd;padding-bottom:1%;padding-top:1%;}
.pre-code-border .code .line.alt1 {background-color: #f6f9fb !important;}
.pre-code-border .code .line.alt2 {background-color: #fdfdfd !important;}

/**定制字体 标签 样式**/
.font-big {font-size:1.2em; line-height:2;}
.font-middle {font-size:1.1em; line-height:1.5;}
.font-big::before, .font-middle::before {content:'★ ';}
.font-tag {background:#f6f9fb;border:1px solid #ccc;margin:0 3px;padding:0 3px;}
.directory-tree ul { padding: 0 0 1% 2em;}